<p id="notice"><%= notice %></p>

<h1>Fruits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fruits.each do |fruit| %>
      <%= fruit.name %><br>
    <% end %>
  </tbody>
</table>

<div id="pagination"></div>
<div id="example"></div>

<br>

<div id="change_pagination">
  <a href="#">Press me please</a>
</div>

<script>
  $(document).ready(function(e) {
    $.ajax({
      url: '/fruits',
      dataType: 'script'
    })
  });

  $('#change_pagination a').click(function(e) {
    e.preventDefault();
    $.ajax({
      url: '/all_values',
      dataType: 'script',
    })
  });
</script>
