<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<% @sites.each do |site| %>

  <%= link_to new_site_url(user_id: site.id), data: { toggle: 'tooltip', placement: 'bottom' } do %>
      <%= content_tag :i, nil, class: "glyphicon glyphicon-ok", 'aria-hidden' => "true" %>
  <% end %>

<% end %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time spent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%#= entry.name %></td>
        <td><%#= entry.time_spent %></td>
        <td><%#= link_to 'Show', entry %></td>
        <td><%#= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%#= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
