<% @news.each do |news| %>
  
  <%= storyid = nil %>

<% end %>

<div style="display: block;">
  <div id="popup" title="TubeCam Standort"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://api3.geo.admin.ch/loader.js?lang=en" type="text/javascript" async></script>
<script type="text/javascript">
  // var layer = ga.layer.create('ch.swisstopo.pixelkarte-farbe');
  var map = new ga.Map({
    target: 'map',
    layers: [layer],
    view: new ol.View({
      resolution: 50,
      center: [692266, 254661]
    })
  });

  // Popup showing the position the user clicked
  var popup = new ol.Overlay({
    element: document.getElementById('popup')
  });
  map.addOverlay(popup);

  map.on('singleclick', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel, function(feat, layer) {
      return feat;
    });
    var element = $(popup.getElement());
    element.popover('destroy');
    if (feature) {
      popup.setPosition(evt.coordinate);
      element.popover({
        'placement': 'top',
        'animation': false,
        'html': true,
        'content': feature.get('description')
      }).popover('show');
    }
  });
</script>
