

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="tasks">
    <%= @books.each do |book| %>
      <%= book.title %><br>
      <%= book.description %><br>
      <%= book.author %><br>
    <% end %>
  </div>
</div>

