<%= form_for(full_calendar_engine) do |f| %>
  <% if full_calendar_engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(full_calendar_engine.errors.count, "error") %> prohibited this full_calendar_engine from being saved:</h2>

      <ul>
      <% full_calendar_engine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :site_id %>
    <%= f.text_field :site_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
