<h1>Editing Full Calendar Engine</h1>

<%= render 'form', full_calendar_engine: @full_calendar_engine %>

<%= link_to 'Show', @full_calendar_engine %> |
<%= link_to 'Back', full_calendar_engines_path %>
