<p id="notice"><%= notice %></p>

<h1>Full Calendar Engines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @full_calendar_engines.each do |full_calendar_engine| %>
      <tr>
        <td><%= full_calendar_engine.name %></td>
        <td><%= full_calendar_engine.site %></td>
        <td><%= link_to 'Show', full_calendar_engine %></td>
        <td><%= link_to 'Edit', edit_full_calendar_engine_path(full_calendar_engine) %></td>
        <td><%= link_to 'Destroy', full_calendar_engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Full Calendar Engine', new_full_calendar_engine_path %>
