<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @full_calendar_engine.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @full_calendar_engine.site %>
</p>

<%= link_to 'Edit', edit_full_calendar_engine_path(@full_calendar_engine) %> |
<%= link_to 'Back', full_calendar_engines_path %>
