
<h1>Cars</h1>

<%= content_tag :div, class: 'destination_latitude', data: {destination_latitude: @cars.first} do %>
  <h1>hahahaha</h1>
<% end %>

<!-- <table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Kilometers</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.kilometers %></td>
        <td><%= car.year %></td>
        <td><%= car.color %></td>
        <td><%= car.price %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
